body{
    background-color: rgb(240, 179, 230); 

}
.clothing{
    color: brown;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-style: italic;
}

.cloth{
    color: rgb(223, 67, 119);
    font-style: italic;
    font-size: 20px;
}

.exit{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 150px 150px;
    max-width: 800px;
    padding: 30px;
}
    
.text{
    background-color: rgb(247, 194, 206);
    text-align: center;
    border-radius: 15px;
    border: 4px solid rgb(63, 59, 60);
    height: 430px;
    width: 200px;

}
.RS{
    text-decoration: line-through;
}
@media only screen and (min-width:600) {
    .exit{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 150px 150px;
        max-width: 600px;
        padding: 30px;
    }
}
@media only screen and (max-wdth:600) {
    .exit{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 150px 150px;
        max-width: 600px;
        padding: 30px;
    }
}   
    
