body{
    background-color: rgb(147, 195, 235); 

}
.clothing{
    color: brown;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-style: italic;
}
.i{
    position: absolute;
    top: 10px;
    right: 300px;
}
.cloth{
    color: rgb(33, 58, 61);
    font-style: italic;
    font-size: 20px;
}
.exit{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px 10px;
    height: 250;
    width: 180;
    color: bisque;
    border: 1px solid black;
    border-radius: 20px;
}
.text{
    color: bisque;
    text-align: center;
    border-radius: 20px;
    
}